<!--
//-{{define "cmp-js"}}
//-{{template "ui-js"}}
//-{{template "basic-js"}}
//-{{end}}
//-{{define "cmp-store-state"}}
//-{{template "basic-store-state"}}
//-{{end}}
//-{{define "cmp-store-mutations"}}
//-{{template "basic-store-mutations"}}
//-{{end}}
//-{{define "cmp-store-actions"}}
//-{{template "basic-store-actions" .}}
//-{{end}}
//-{{define "cmp-html"}}
//-{{template "ui-html"}}
//-{{template "basic-html"}}
//-{{end}}
//-{{define "cmp-css"}}
//-{{template "ui-css"}}
//-{{template "basic-css"}}
//-{{end}}
-->